.json-feed-post {
	margin: 0;
	margin-bottom: 1em;
	padding: 0 0 0 15px;
	position:relative;
	top:-16px;
}

.json-feed-post:last-child {
	margin-bottom: 0;
}

.json-feed-arrow {
	width: 0;
	height: 0;
	line-height:0;
	border-style: solid;
	border-color: transparent transparent transparent #444444;
	border-width: 4px 0px 4px 6px;
}

.json-feed-post a {
	color: #444444;
	text-decoration: underline;
}

.json-feed-post a:hover, .json-feed-post a:focus {
	text-decoration: none;
}

.json-feed-post a:visited {
	color: #888888;
}